{% extends 'index.html.twig' %}

{% block content %}
    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.oldPassword, { 'label': 'Aktualne hasło'}) }}
    {{ form_row(changePasswordForm.newPassword, { 'label': 'Nowe hasło'}) }}
    {{ form_widget(changePasswordForm) }}
    <button type="submit" class="btn btn-primary">Zmień hasło</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
