{% extends 'index.html.twig' %}

{% block content %}

    {{ form_start(addQuizForm) }}
    {{ form_row(addQuizForm.title, { 'label': 'Tytuł testu'}) }}
    {{ form_widget(addQuizForm) }}
    <button type="submit" class="btn btn-primary">Dodaj test</button>
    {{ form_end(addQuizForm) }}

    {{ form_start(addQuizQuestionForm) }}
    {{ form_row(addQuizQuestionForm.text, { 'label': 'Treść pytania'}) }}
    {{ form_row(addQuizQuestionForm.quiz_id, { 'label': 'Wybór testu'}) }}
    {{ form_widget(addQuizQuestionForm) }}
    <button type="submit" class="btn btn-primary">Dodaj test</button>
    {{ form_end(addQuizQuestionForm) }}

    {{ form_start(addQuizQuestionOption) }}
    {{ form_row(addQuizQuestionOption.text, { 'label': 'Treść odpowiedzi'}) }}
    {{ form_row(addQuizQuestionOption.quizQuestion_id, { 'label': 'Wybór pytania'}) }}
    {{ form_widget(addQuizQuestionOption) }}
    <button type="submit" class="btn btn-primary">Dodaj test</button>
    {{ form_end(addQuizQuestionOption) }}
{% endblock %}
