{% extends 'index.html.twig' %}

{% block content %}

    {{ form_start(quizForm) }}
  <h2>{{ questions.text }}</h2>
    {{ form_row(quizForm.text, { 'label': 'Odpowiedz na pytanie: '}) }}
    <button type="submit" class="btn btn-primary">Zapisz i przejdź dalej</button>
    {{ form_end(quizForm) }}
    {{ dump(test2) }}
{% endblock %}
